@model List<Contact>

<h1>Your Contacts</h1>

<table class="table table-bordered table-striped table-hover">

    <thead>
        <tr>
            <th>Contact Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.Order</td>
                <td>@contact.FirstName</td>
                <td>@contact.LastName</td>
                <td>@contact.PhoneNumber</td>
                <td>
                    <button class="btn btn-danger">
                        <a class="text-white" asp-action="Edit" asp-route-id="@contact.Id">Edit</a>
                    </button>

                    <button class="btn btn-danger">
                        <a class="text-white" asp-action="Delete" asp-route-id="@contact.Id">Delete</a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary">
    <a class="text-white" asp-action="Create">New Contact</a>
</button>